.lists {
    display: flex;
    flex-direction: column;
    max-width: 736px;
    margin: 5.6rem auto;
    padding: 0 10px 0 10px;
}

.listsstatus {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listsstatus strong {
    font-weight: bold;
    color: var(--blue);
    font-size: 0.875rem;
}

.listsstatus strong:last-child {
    color: var(--purple);
}

.listsstatus span {
    background: var(--gray-400);
    padding: 2px 8px;
    border-radius: 999px;
    margin-left: 0.5rem;
    color: var(--white);
    font-size: 0.75rem;
}

.newtask {
    display: flex;
    justify-content: center;    
    gap: 0.5rem;
    max-width: 736px;
    margin: -7.1rem auto;
}

.newtask input {
    padding: 1rem;
    background: var(--gray-500);
    border: 1px solid var(--gray-700);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 638px;
    height: 54px;

    color: var(--gray-300);
}

.newtask button {
    background: var(--blue-dark);
    padding: 1rem;
    height: 52px;
    border-radius: 0.5rem;
    border: none;

    color: var(--white);
    font-weight: bold;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    transition: 0.2s;
}

.newtask button:hover {
    background: var(--blue);
}