.taskitem {
    width: 100%;
    max-width: 736px;
    margin-top: 1.5rem;

    display: flex;
    justify-content: flex-start;
    gap: 1.3rem;
    padding: 1rem;

    background: var(--gray-500);
    color: var(--gray-100); 
    border-radius: .5rem;
    font-size: 0.875rem;
}

.taskitemCompleted {
    width: 100%;
    max-width: 736px;
    margin-top: 1.5rem;

    display: flex;
    justify-content: flex-start;
    gap: 1.3rem;
    padding: 1rem;

    background: var(--gray-500);
    color: var(--gray-300); 
    border-radius: .5rem;
    font-size: 0.875rem;
    text-decoration: line-through;
}

.taskitem:first-child {
    flex: 1;
    margin-right: 1.3rem;
}

.taskitem:last-child {
    flex: 1;
}

.taskitem span {
    max-width: 632px;
    line-height:140%;
    flex: 2;
}


.trash {
    padding: 5px;
    color: var(--gray-300);
    transition: 0.2s;
}

.trash:hover {
    background: var(--gray-400);
    color: var(--danger);
    border-radius: 4px;
}

.circle {
    padding: 5px;
    color: var(--blue);
}

